<div class="col-10 offset-1 about">
  <h1>About This Site</h1>

   <p>
    This page was built by <a target="_blank" href="http://github.com/DavidWagner17">David Wagner</a>. A future web developer on a mission to develop the technical skills needed to turn ideas into reality.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Wagner</h2>
      <br />
      <p>
        David Wagner is a Technical Writer for AVALLAIN. Previously he was a Supportability Specialist at INTUIT. He took time between these positions to work as a Behavioral Paraprofessional at the Arivaca Boys Ranch, where he mentored troubled youth.
      </p>
    </div>
  </div>

  <br class="clear" />

  <br />
  <br />
  <br />
  <br />

</div>